@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: "Poppins", sans-serif;
}

/* shared styles */
.body-text-grey-color {
    color: #3A3A3A;
}

.primary-btn {
    background-color: #E02C6D;
    color: aliceblue;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    padding: 12px 24px;
    border-radius: 25px;
    margin-top: 30px;
    cursor: pointer;
}

/* header styles started */
header {
    margin: 0px auto;
    padding: 50px 150px;
}

/* navbar styles started */

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    font-size: 2rem;
    color: #3A3A3A;
}

.logo-color {
    color: #E02C6D;
    font-size: 2.5rem;
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 35px;
    justify-content: center;
    align-items: center;
}

.nav-menu a {
    text-decoration: none;
    color: #3A3A3A;
    font-size: 1.2rem;
    font-weight: 600px;
}

.nav-icon {
    display: flex;
    gap: 35px;
    align-items: center;
}

/* navbar styles ended */

/* banner styles started */
.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 80px;
}

.banner-title {
    font-size: 3.2rem;
    color: #3A3A3A;
    font-weight: 700;
    margin-bottom: 20px;
}

.banner-img {
    background-image: url(./images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: contain;


}

/* header section styles ended */

/* brand section styles started */

main{
    margin: 0px auto;
}

.brand-container {
    padding: 30px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 75px 240px 30px 240px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, #f8f5f5, rgb(211, 209, 211), #f8f5f5) 1;
}
/* brand section styles ended */

/* popular section styles started */
.popular-section{
    padding: 50px 150px;    
}

.section-title{
    font-size: 2rem;
    font-weight: 600;
    color: #3A3A3A;
    text-align: center;
    margin: 50px auto;
}

.cards-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    gap: 50px 25px;

}

.cards{
    max-width: 300px;
    padding: 16px;
    box-shadow: 1px 4px 6px 1px rgba(0, 0, 0, 0.1);
    
}

.card-title{
    font-size: 1.6rem;
    font-weight: 500;
    color: #3A3A3A;
}

.title-reveiew-container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 5px 16px 6px 0px;
}

.review{
    margin: 6px;
    font-size: 1.2rem;
    color: #3A3A3A;
}

.price{
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 8px;
}

.card-description{
    color: grey;
    font-size: 0.8rem;
}
/* responsive styles started */
/* for mobile devices */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    .nav-bar {
        flex-direction: column;
    }

    .nav-menu {
        gap: 20px;
    }

    .nav-menu a {
        text-decoration: none;
        color: #3A3A3A;
        font-size: 0.7rem;
        font-weight: 500px;
    }

    .nav-icon {
        gap: 25px;

    }

    .banner-container {
        flex-direction: column;
        margin-top: 50px;
    }

    .banner-title {
        font-size: 1.8rem;
    }

    .banner-img {
        max-width: 100%;
    }

    .banner-img img {
        width: 100%;
    }

    .brand-container {
        flex-direction: column;
        margin: 30px;

    }

    .popular-section{
        padding: 50px;    
    }
    
    .section-title{
        font-size: 1.5rem;
        margin-bottom: 20px;
    }
    
    .cards-container{
        grid-template-columns: repeat(1,1fr);
        gap: 50px;
    }

}

/* for tablets or medium devices */

@media screen and (min-width: 577px) and (max-width: 850px) {
    header {
        padding: 35px;
    }

    .nav-bar {
        flex-direction: column;
        gap: 35px;
    }


    .nav-menu {
        gap: 30px;
    }

    .nav-menu a {
        text-decoration: none;
        color: #3A3A3A;
        font-size: 1.1rem;
    }

    .nav-icon {
        gap: 30px;

    }

    .banner-container {
        flex-direction: column;
        margin-top: 60px;
    }

    .banner-title {
        font-size: 2rem;
    }

    .banner-img {
        max-width: 100%;
    }

    .banner-img img {
        width: 100%;
    }

    .brand-container {
       flex-wrap: wrap;
        margin: 50px;
    }

    .popular-section{
        padding: 50px;    
    }
    
    .cards-container{
        grid-template-columns: repeat(2,1fr);
        gap: 50px;
    }
    
}

/* for large devices */

@media screen and (min-width: 851px) and (max-width: 1050px) {
    header {
        padding: 40px;
    }

    .nav-menu {
        gap: 30px;
    }

    .nav-menu a {
        text-decoration: none;
        color: #3A3A3A;
        font-size: 1.2rem;
    }

    .nav-icon {
        gap: 30px;

    }
    .brand-container {
        flex-wrap: wrap;
         margin: 50px;
     }
     .cards-container{
        grid-template-columns: repeat(2,1fr);
        gap: 50px;
    }
}